.motto-wrapper {
    position: absolute;
    bottom: 0; 
    width: 100%; 
    font-size: 15px;
    position: fixed;
    background-color: black; 
}

.motto-emojis {
    position: absolute;
    right: 0; 
}