.container {
    border: 1px solid white; 
    height: 200px; 
    width: 90%;
    display: flex;
}

.img-container {
    height: 100px; 
    border: 1px dashed white; 
}

.img {
    width: 100px; 
    height: 100px;
}

.spaceship-container {
    height: 100px; 
    display: flex;
}